name: publish site
on:
  push:
    branches:
      - main
      - master # 如果你的主分支叫 master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      # 这里会自动帮你把文档编译成 HTML 并推送到 gh-pages 分支
      - run: mkdocs gh-deploy --force